# hwcrypto_vendor_override.te
# This file ensures hal_hwcrypto_default and its attributes are defined
# to satisfy Android 16 SEPolicy checks for TWRP recovery.

# Declare the type
type hal_hwcrypto_default;

# Declare attributes
attribute hal_hwcrypto;
attribute hal_hwcrypto_server;
attribute hal_hwcrypto_client;

# Assign the typeattribute
#typeattribute hal_hwcrypto_default hal_hwcrypto_server;
